version: '3.9'

services:
  auth-service:
    build:
      context: .
      dockerfile: Dockerfile.auth
    container_name: auth-service
    environment:
      - AUTH_HOST=0.0.0.0
      - AUTH_PORT=3001
    ports:
      - '3001:3001'
    healthcheck:
      test: ['CMD-SHELL', 'nc -z localhost 3001']
      interval: 10s
      timeout: 5s
      retries: 5

  gateway:
    build:
      context: .
      dockerfile: Dockerfile.gateway
    container_name: gateway
    environment:
      - AUTH_HOST=auth-service
      - AUTH_PORT=3001
      - port=3000
    depends_on:
      auth-service:
        condition: service_healthy
    ports:
      - '3000:3000'
    healthcheck:
      test: ['CMD-SHELL', 'wget -qO- http://localhost:3000/health/auth || exit 1']
      interval: 10s
      timeout: 5s
      retries: 5

